@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	background : /*#1e3799*/#DDD;
	padding : 1.5em;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
}
.container {
	
}
header h1 {
	text-align : center;
}
.question {
	background : #ece8e8/*#0c2461*/;
	color : white;
	border-radius : 0.5em;
	border-bottom: 1.5em;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.question p {
	padding : 1.5em;
	padding-bottom: 0;
	font-size: 1em;
	line-height: 2em;
	color: #333333;
}
.question__content:before{
	content : "Q:";
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 50%;
}
.question__content {
    margin-left: 1.5em;
}
button {
	background: rgba(0, 0, 255, .2);
	margin : 1em;
	margin-top: 0;
	width: auto;
	height : 2em;
	outline: none;
	font-size: 1.5em;
	border:1px solid rgba(0, 0, 255, .2);
	display: block
}
.spoiler {
	margin-bottom: 1.5em;
}
span {
	margin: 0;
}
.spoiler-content {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
.spoiler-content.visible {
    display: block;
    width: auto;
    height: auto;
    opacity: 1;
    padding: 1.5em;
}
